<html>
	<head>
		{% if title %}
			<title>{{ title }} - Microblog</title>
		{% else %}
			<title>Welcome to Microblog</title>
		{% endif %}
	</head>
	<body style="background:azure">
		<div>
			Microblog:
			<a href="{{ url_for('index') }}">主页</a>
			{% if current_user.is_anonymous %}
				<a href="{{ url_for('login') }}">登录</a>
			{% else %}
				<a href="{{ url_for('user', username=current_user.username) }}">个人资料</a>
				<a href="{{ url_for('logout') }}">退出</a>
			{% endif %}
		</div>
<!--		<div>Microblog:<a href="/index">Home</a></div>-->
		<hr>
		{% block content %}
		{% endblock %}
	</body>
</html>